@import '../../../../node_modules/leaguespot-components/src/constants/colours';
@import '../../../../node_modules/leaguespot-components/src/constants/fonts';

.rc-Info {
  .content {

    .labelTitle {
      width: 9em;
      vertical-align:top;
      display: inline-block;
      box-sizing: border-box;
      padding-bottom: 0.5em;
      padding-right: 1em;
      font-weight: 400;
      color: lighten(@darkTextPrimary, 25%);

      &.full {
        width: 100%;
        display: block;
        padding-top: 0.5em;
      }
    }
    .labelValue {
      display: inline-block;
      box-sizing: border-box;
      padding-right: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc(~'100% - 10em');
      padding-bottom: 0.5em;

      &.full {
        display: block;
        max-width: 100%;
      }

      &.multiline {
        white-space: pre-wrap;
        text-overflow: inherit;;
        overflow: visible;
      }
    }

    .sub {
      &.labelTitle {
        font-size: 0.9em;
        font-weight: 300;
        font-style: italic;
      }
      &.labelValue {
        font-size: 0.9em;
      }
    }

  }
}
