@import '../../../../node_modules/leaguespot-components/src/constants/colours';
@import '../../../../node_modules/leaguespot-components/src/constants/fonts';

.rc-Standings {
  
  .sectionHeader {
    padding: 1em;
    justify-content: space-between;
    display: flex;

    .sectionTitle {
      font-size: 2em;
      font-weight: 400;
      display: inline-block;
      margin-right: 0.5em;
    }

    .sectionSubTitle {
      font-size: 1.25em;
      color: @darkTextSecondary;
      display: inline-block;
    }
  }

}
