/*
 *
 *
 */

 /* BUTTONS */
 .btn {
   font-family: 'Lato', sans-serif;
   font-size: 0.8em;
   border-radius: 2px;
   padding: 10px;
   margin-left: 7px;
   box-sizing: border-box;
   -webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
   transition: background-color 0.2s;
 }
 .btn:hover {
   cursor: pointer;
 }
 .btn:active, .btn:focus {
   outline: 0;
   box-shadow: 0;
 }
 .btn.small {
   padding: 5px;
 }
 .buttonGroup .btn {
   margin: 1px;
   border-radius: 0px;
   border: 0px;
 }
 .buttonGroup .btn.pair {
   width: calc(50% - 2px);
   min-width: 6em;
   display: inline-block;
 }
 .btn.secondary {
   background-color: #444;
   color: #fff;
   border: none;
 }
 .btn.secondary:hover {
   background-color: #555;
 }
 .whiteOutlineBtn {
   color: #fff;
   border: 1px solid #f2f2f2;
   background-color: transparent;
 }
 .whiteOutlineBtn:hover {
   background-color: #444;
 }
 .greenOutlineBtn {
   color: #fff;
   border: 1px solid #26a600;
   background-color: #222;
 }
 .greenOutlineBtn:hover {
   background-color: #1c1c1c;
 }
 .greenOutlineBtn.active {
   background-color: #2fbb06;
   border: none;
 }
 .greenSolidBtn {
   color: #fff;
   background-color: #49b64d;
   border: none;
 }
 .greenSolidBtn:hover {
   background-color: #2E7D32;
 }
 .greenSolidBtn:disabled {
   background-color: #404040;
   color: #e0e0e0;
 }
 .greenOutlineBtn.disabled {
   color: #bbb;
   background-color: #444;
 }
 .greenOutlineBtn.disabled:hover {
   background-color: #444;
   cursor: default;
 }

 .listButton {
   vertical-align: middle;
   padding: 0px;
   min-width: 6em !important;
   height: 2em !important;
   border: 1px solid #fff;
   background-color: transparent;
   color: #fff;
   box-shadow: 0px 0px 2px 0px #2a2a2a;
   text-transform: uppercase;
 }
 .listButton:hover {
   background-color: #4f4f4f;
 }

 .listButton.addition {
   /*color: #303030;*/
 }
 .listButton.addition:hover {
   background-color: #49b64d;
 }

 .listButton.removal {
   /*background-color: #D32F2F;*/
 }
 .listButton.removal:hover {
   background-color: #D32F2F;
 }

 .simpleDarkBtn {
   color: #fff;
   background-color: transparent;
   border: none;
 }
 .simpleDarkBtn:hover {
   background-color: #303030;
 }
 .simpleDarkBtn.redHover:hover {
   background-color: #D32F2F;
 }

 .simpleGreenBtn {
   color: #49b64d;
   background-color: transparent;
   border: none;
 }
 .simpleGreenBtn:hover {
   background-color: #303030;
 }

 .simpleGreyBtn {
   color: #606060;
   background-color: transparent;
   border: none;
 }
 .simpleGreyBtn:hover {
   background-color: #303030;
 }

 .btn.brightBackground:hover {
   background-color: #404040;
 }
