/*
 *
 *
 */

Link,
Link:hover,
Link:active,
Link:focus {
  color: #fff;
  text-decoration: inherit;
}

/* LOGO */
.logoTitle {
  font-family: 'Lobster', cursive;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  line-height: 0.5em;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 180px;
  display: inline-block;
}
.logoSubtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.3em;
  line-height: 0.3em;
  font-weight: normal;
  font-style: italic;
  opacity: 0.9;
}

/* HEADER - ACCOUNT INFORMATION */
.headerOptions {
  width: calc(100% - 180px);
  height: 62px;
  display: inline-block;
  vertical-align: top;
  font-size: 0.9em;
}
.headerMenu {
  width: 70%;
  height: 62px;
  display: inline-block;
}
.accountInfo {
  width: 30%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  padding-top: 18px;
  height: 47px;
}

/* HEADER NAV */
header nav.mainNav {
  height: 62px;
  vertical-align: middle;
}
.mainNav .navLink {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px;
  padding-top: 23px;
  padding-bottom: calc(62px - 27px - 1em);
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.2s;
}
.mainNav .navLink.active {
  background-color: #444;
}
.mainNav .navLink:hover {
  background-color: #444;
}
