// This is a file of all the colour constants used throughout this repo. Only
// constants contained in this file should be used as colours. If the colour
// you are looking for is not in this file, add it.
//
// This file is used to contain colour constants for use in less files. All
// constants must have a matching partner in colours.jsx

// LEAGUESPOT COLOURS
@leaguespotGreenPrimary: #329939;
@leaguespotGreenSecondary: #2C7730;

// BACKGROUND COLOURS
@darkBackgroundPrimary: #1c1c1f;
@darkBackgroundSecondary: #121314;
@darkBackgroundContainer: #222326;
@lightBackgroundPrimary: #e5e5e5;
@lightBackgroundSecondary: #ededed;
@lightBackgroundContainer: #f6f6f6;

// TEXT COLOURS
@darkTextPrimary: #0f0f0f;
@darkTextSecondary: #999999;
@lightTextPrimary: #ffffff;
@lightTextSecondary: #aaaaaa;

// NOTIFICATION COLORS
@danger: #D32F2F;
