@import '../../constants/colours';
@import '../../constants/fonts';

.rc-PlayerListItem {

  .rosterPlayerHeader {
    .playerName {
      .name {

      }
      .league,
      .position {
        color: @darkTextSecondary;
        font-size: 0.8em;
        margin-left: 0.5em;
        font-weight: 300;
      }
    }
  }

  .stat {
    display: inline-block;
    margin-right: 1.2em;

    .value {
      color: @darkTextPrimary;
      margin-left: 0.4em;
    }
    .fieldName {
      color: @darkTextSecondary;
      font-size: 0.70em;
      text-transform: uppercase;
      margin-left: 0em;
    }
  }

}
