@import '../../constants/colours';
@import '../../constants/fonts';


.rc-ListItem {
  &.rc-TeamListItem {
    .body {
      display: block;
    }
  }
}
.rc-TeamListItem {

  .teamListTitle {
    justify-content: space-between;
    display: flex;
    padding-right: 10px;

    .teamName {
      display: inline-block;
      font-size: 1.2em;
    }

    .position {
      display: inline-block;
      color: @lightTextSecondary;
      font-size: 0.9em;
      margin-left: 1em;
      font-weight: 300;
    }

    .ptsLabel {
      display: inline-block;
      color: @darkTextSecondary;
      font-size: 0.75em;
      margin-right: 0.5em;
      text-transform: uppercase;
      vertical-align: top;
    }
    .ptsValue {
      display: inline-block;
      color: @darkTextPrimary;
      font-size: 1.5em;
      font-weight: 400;
      vertical-align: text-bottom;
    }

    .position {
      display: inline-block;
      color: @lightTextSecondary;
      font-size: 0.8em;
      margin-left: 1em;
      font-style: italic;
      font-weight: 300;
    }
  }



}
