/**
 * The main CSS file. Contains generic CSS. CSS that's more specific to components
 * should be placed in their own unique file/folder so they can be located easier
 * later on.
 *
 * TODO: clean up this file, move out specific CSS
 */

html, body, #app {
  font-family: 'Lato', sans-serif;
  color: ##0f0f0f;
  background-color: #fff;
  margin: 0px;
}

header, footer {
  background-color: rgb(47, 50, 56);
  color: #fff;
  margin: 0px;
  padding-left: 80px;
  padding-right: 80px;
}

footer {
  height: 40px;
  color: #707070;
  font-size: 0.8em;
  text-align: right;
  border-bottom: 1px solid #26a600;
  padding: 2px;
}

Link,
Link:hover,
Link:active,
Link:focus {
  color: #fff;
  text-decoration: inherit;
}

.container {
  min-height: calc(100vh - 65px - 45px);
}

/* LOGO */
.logoTitle {
  font-family: 'Lobster', cursive;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  line-height: 0.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 180px;
  display: inline-block;
}
.logoSubtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.3em;
  line-height: 0.3em;
  font-weight: normal;
  font-style: italic;
  opacity: 0.9;
}

/* HEADER - ACCOUNT INFORMATION */
.headerOptions {
  width: calc(100% - 180px);
  height: 62px;
  display: inline-block;
  vertical-align: top;
}
.headerMenu {
  width: 70%;
  height: 62px;
  display: inline-block;
}
.accountInfo {
  width: 30%;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  height: 47px;
}

/* HEADER NAV */
header nav.mainNav {
  height: 62px;
  vertical-align: middle;
}
.mainNav .navLink {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: calc(62px - 24px - 1em);
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.2s;
}
.mainNav .navLink.active {
  background-color: #444;
}
.mainNav .navLink:hover {
  background-color: #444;
}

/* BUTTONS */
.btn {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 7px;
  margin-left: 7px;
}
.btn:hover {
  cursor: pointer;
}
.btn:active, .btn:focus {
  outline: 0;
  box-shadow: 0;
}
.whiteOutlineBtn {
  color: #fff;
  border: 1px solid #f2f2f2;
  background-color: transparent;
}
.whiteOutlineBtn:hover {
  background-color: #444;
}

/* POPUPS */
.popupLight {
  width: 40%;
  min-width: 28em;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
}

/* FORM */
.formLight {
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
}
.formLight .row {
  display: block;
  padding-top: 0.75em;
}
.formLight label {
  display: block;
  color: #2f2f2f;
}
.formLight input {
  font-size: 0.9em;
  line-height: 2em;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #9f9f9f;
  padding: 6px;
  width: calc(100% - 5px - 12px);
}
.formLight input:focus {
  outline-color: rgba(15, 184, 0, 0.25);
  outline-width: 2px;
}
.formLight input.inputPair {
  width: calc(50% - 4px - 11px);
}
/* TODO: use CSS selector for first/last pair */
.formLight input.inputPair.first {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.formLight input.inputPair.last {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.formLight input.inputGroupTop {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.formLight input.inputGroupBottom {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.formLight .btn {
  font-size: 0.9em;
  margin: none;
  margin-left: 0px;
  padding: 6px;
  width: calc(50% - 4px);
}
.formLight .btn.submit {
  color: #fff;
  background-color: #26a600;
  border: none;
  margin-top: 1em;
  padding-top: 8px;
  padding-bottom: 8px;
}
.formLight .btn.full {
  width: calc(100% - 4px);
}
.formLight .btn.submit:hover {
  background-color: #2fbb06;
}
.formLight .subtext {
  font-size: 0.75em;
  opacity: 0.6;
}
