@import '../../../node_modules/leaguespot-components/src/constants/colours';
@import '../../../node_modules/leaguespot-components/src/constants/fonts';


.rc-MenuBar {
  background-color: lighten(@lightBackgroundContainer, 50%);

  div {
    display: inline-block;
  }

  a,
  .actionButton {
    background-color: lighten(@lightBackgroundContainer, 50%);
    color: @darkTextPrimary;
    text-decoration: none;
    display: inline-block;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out;
    font-weight: 400;

    &:hover {
      background-color: @lightBackgroundContainer;
      cursor: pointer;
    }

    &.active {
      color: @leaguespotGreenPrimary;
    }
  }
}
