@import '../../../../node_modules/leaguespot-components/src/constants/colours';
@import '../../../../node_modules/leaguespot-components/src/constants/fonts';

.rc-NewFantasyLeague {
  .content {
    .stepContainer {
      .stepContent {
        margin-top: 1em;

        .proLeaguesTitle {
          margin-top: 1.1em;
          margin-bottom: 0.3em;
          color: rgb(170, 170, 170);
          transform-origin: left top 0px;
          transform: scale(0.86);
        }
      }
    }
  }
}
