@import '../../../../node_modules/leaguespot-components/src/constants/colours';
@import '../../../../node_modules/leaguespot-components/src/constants/fonts';

.rc-NewFantasyLeague {
  .content {
    .stepContainer {
      .stepContent {
        margin-top: 1em;

        .lightBold {
          font-weight: 400;
        }

        .proLeaguesTitle {
          margin-top: 1.5em;
          margin-bottom: 0.3em;
          color: rgb(170, 170, 170);
          transform-origin: left top 0px;
          transform: scale(0.86);
        }

        .notificationText {
          color: rgb(170, 170, 170);
        }

        .dataDetails {
          .title {
            font-weight: 400 !important;
            font-size: 1.5em !important;
            padding-left: 0px;
            padding-right: 0px;
            display: block;
          }
        }

        .dataSection {
          margin-bottom: 1em;
        }
      }
    }
  }
}
